<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gleason</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    @if (TempData["UserName"] != null)
    {
        <nav class="sidebar position-fixed">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="~/images/icons8-name-30.png" alt="" />
                    </span>

                    <div class="text logo-text">
                        <span class="name">Hello, @TempData["UserName"]?.ToString()</span>
                    </div>
                </div>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a asp-action="UserCount">
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a asp-action="UserList">
                                <span class="text nav-text">User Management</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <span class="text nav-text">Data Centers</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <span class="text nav-text">Application</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a asp-action="Logout" asp-controller="Home">
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <section class="home">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </section>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    }


    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
